/* Your Website Styles */
body {
	background-image: url('../img/texture3.jpg');
	color: #808080;
}

/*HEADER*/


a {
	text-decoration: none;
	color: #313A3A;
}

img {
	max-width: 100%;
}


#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#logo {
	text-align: center;
	margin: 0;
}


header{
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background: #343434;
	border-color: #599a68;
	opacity: .95;

}

h1 {
	font-family: "Playfair Display", sans-serif;
	text-transform: uppercase;
	color: #FF3333;
	margin: 0px 0;
	font-size: 7em;
	font-weight: normal;
	line-height: 0.8em;
	padding-top: 18px;
	opacity: 100;
	
}

/*NAVIGATION*/
nav {

	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}



nav a {
	color: #FFF;
	font-weight: 800px;
	padding: 15px 18px;
}

nav a:visited {
	color: #FFF;
}

nav a.selected, nav a:hover {
	color: #808080;
}

body {
	font-family: 'Poiret One', sans-serif;
}

h3 {
	margin: 0 0 1em 0;
}

/*INFO HOVER DISPLAY*/

.thumbnail p {
  background: green;
  height: 150px;
  float: left;
  position: relative;
  width: 150px;
  margin: 24px;
  overflow: hidden;
}

.thumbnail p {
  background: #B20000;
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
}

/* First Frame 8*/
.thumbnail p {
  background: orange;
  position: absolute;
  margin-bottom: 0;
  bottom: -150px;
}


/* Last Frame 8*/
.thumbnail:hover p {
  bottom: 0;
}




/*footer*/
footer {
	font-size: .8em;
	text-align: center;
	clear: both;
	padding-top: 100px;
}

/*Page: Portfolio*/
#gallery {
	margin: 0px;
	margin-top: 25px;
	padding: 0px;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #343434;
	color: #FFF;
	opacity: ;
}

#gallery li a p {
	margin: 0px;
	padding: 5%;
	font-size: .85em;
	text-align: center;
	color: #FFF;
}

.social-icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}


/*Page: About*/

.profile-photo {
	display: block;
	max-width: 400px;
	margin: 0 auto 30px;
	border-radius: 25%;
}

h3 {
	font-weight: 85px;
	color: black;
}


/*Page:Contact*/
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 25px;
	margin: 0 0 8px;
}



.contact-info li.phone a {
	background-image: url('../img/phone.png');
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}
.contact-info li.twitter a {
	background-image:url('../img/twitter.png');
}


.resume {

	max-width: 200px;








/* Show Grid */



