/* Your Website Styles */
body {
	text-align: center;
}

h1 {
	font-family: 'Playfair Display', 'sans-serif';
	text-transform: uppercase; letter-spacing: 20px;
	font-size: 5em;
	margin-top: 100px;
	color: #FF3333;
	}

.profile {
	text-align: right;
	max-width: 300px;
	max-height: 108px;
}

.mentoring {
	text-align: right;
}

.header {
	font-family: 'Playfair Display', 'sans-serif';
	font-size: 1.7em;
	text-align: left;
	margin-bottom: 25px;
	margin-top: 1px;
}

img {
	max-width: 200px;

}

nav {
	list-style: none;
}

nav li {
	display: inline-block;
	margin-bottom: 150px;
}

nav img {
	max-width: 140px;
	margin: 25px 25px;

}


p {
	font-family: 'Ubuntu Condensed', 'sans-serif';
	text-align: left;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 100px;
}

div {
	margin-top: -60px;	x 
}


/* Show Grid */
body {
	background: url("../img/texture3.jpg") repeat;
}

section {
height: 0px;
overflow: hidden;
}

section:target {
	height: 100%;
	transition: background 1s;
}

#footer {
	margin-top: 300px;
}
#copyright {
	text-align: center;
	margin-top: 10px;
	font-size: .75em;
}
